@model assaignment.Models.PasswordVerification
@{ 
    ViewBag.Title = "Verification";
}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <h1 style="margin:5% 25% 5% 45%">Password Verification</h1>
    @using (Html.BeginForm(FormMethod.Post, null))
    {
        <div class="row mb-3">
            @Html.LabelFor(model => model.Password, new { @htmlAttributes = new { @class = "col-sm-2 form-label" } })
            <div class="col-sm-10">
                @Html.PasswordFor(model => model.Password, new { @htmlAttributes = new { @class = "form-control", @required = "required" } })
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "alert-danger" })
        <div class="row mb-3">
            @Html.LabelFor(model => model.ConfirmPassword, new { @htmlAttribute = new { @class = "col-sm-2 form-label" } })
            <div class="col-sm-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @required = "required" })
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "alert-danger" })
        <input type="submit" value="Submit">
    }
        @if (ViewBag.Message!=null)
    {   <script type="text/javascript">
        window.onload=function()
        {
            alert("@ViewBag.Message");
        }
        </script>
    }
</body>
</html>
